<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="root"></div>
</body>

<script>
    /* slot 插槽  */
    /* 
        具名插槽
        v-slot:名字 || #名字
        <slot name="名字"/>
    */
    const app = Vue.createApp({
        data() {
            return {
                header: 'aaaa'
            }
        },
        template: `
            <Layout>
                <template v-slot:header>
                    <div>header</div>    
                </template>
                <template v-slot:footer>
                    <div>footer</div>    
                </template>
            </Layout>
            
       `,
    })

    app.component('Layout', {
        props: {},
        template: `
            <div>
                <slot name="header"/>
                <div>content</div>
                <slot name="footer"/>
            </div>
        `,
    })

    const vm = app.mount('#root')
</script>

</html>