<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="root"></div>
</body>

<script>
    /* 动态组件 keep-alive缓存  */
    const app = Vue.createApp({
        data() {
            return {
                currentItem: 'input-item'
            }
        },
        template: `
            <keep-alive>
                <component :is="currentItem" />
            </keep-alive>
            <button @click="handleClick">切换</button>
       `,
        methods: {
            handleClick() {
                this.currentItem = this.currentItem === 'input-item' ? 'common-item' : 'input-item'
            }
        }
    })

    app.component('input-item', {
        template: `
            <div>
                <input />
            </div>
        `,
    })

    app.component('common-item', {
        template: `
            <div>hello world</div>
        `,
    })

    const vm = app.mount('#root')
</script>

</html>