<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="root"></div>
</body>

<script>
    /* 异步组件   */
    const app = Vue.createApp({
        data() {
            return {
                currentItem: 'input-item'
            }
        },
        template: `
            <div>
                <common-item></common-item>
                <async-common-item />
            </div>
       `,
        methods: {
        }
    })
    app.component('common-item', {
        template: `
            <div>hello world</div>
        `,
    })

    app.component('async-common-item', Vue.defineAsyncComponent(() => new Promise((resolve, reject) => {
        setTimeout(() => {
            resolve({
                template: `
                    <div>this is an async component</div>
                `
            })
        }, 4000)

    })))

    const vm = app.mount('#root')
</script>

</html>